<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Rawoo by davidshuip</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Rawoo</h1>
          <h2>Have a <b>stupid</b> question, but don&#39;t want to feel stupid? Ask Rawoo!</h2>
        </header>
        <hr>

        <section id="main_content">
          <h3>
          <p>

           //API.AI code
            <input id="test-client-query-input" type="text" spellcheck="false" class="form-control ng-pristine ng-valid ng-isolate-scope md-input ng-empty ui-autocomplete-input ng-touched" placeholder="Try it now..." ng-model="query" ng-keypress="speak(query, $event) &amp;&amp; (speakResult=true) &amp;&amp; (query = '');" focus-on="true" aria-label="Try it now..." aria-invalid="false" style="">
            <md-icon class="mic-ico material-icons" ng-click="speakButton()" ng-class="{'speak':recognizing}" ng-show="isWebkitSpeechRecognitionSupport" role="button" tabindex="0" aria-hidden="false" style="">
            <span class="flaticon stroke microphone"></span>
            <span class="mic-ico ng-empty ng-valid ng-hide" ng-click="toggleListening()" ng-class="{speak:isRecognizing}" title="Start" microphone="microphoneConfig" ng-model="query" ng-hide="isWebkitSpeechRecognitionSupport" role="button" tabindex="0" aria-hidden="true" aria-invalid="false">   <span class="flaticon stroke microphone" ng-class="{'microphone':!isDisabled,'microphone-2':isDisabled}"></span></span>
                    </md-icon>
          </p>
          
          <input id="q" aria-hidden="true" autocomplete="off" name="q" tabindex="-1" type="url" jsaction="mousedown:ntp.fkbxclk" style="opacity: 0;">


        
      </div>
    </div>
  </body>
</html>
